/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.av{
	-fx-position-shape: center;
}

.button1{
	-fx-background-color: #9b63bf;
	-fx-text-fill: #fff;
	-fx-border-radius: 50;
    -fx-background-radius: 50;
}

.button2{
	-fx-background-color: linear-gradient(to bottom left, #63bfb1, #9b63bf);
	-fx-text-fill: #fff;
}

.button3{
	-fx-background-color: linear-gradient(to bottom left, #63bfb1, #9b63bf);
	-fx-text-fill: #fff;
	-fx-border-radius: 100;
    -fx-background-radius: 100;
}

.button4{
	-fx-background-color: linear-gradient(to bottom left, #63bfb1, #9b63bf);
	-fx-text-fill: #fff;
	-fx-border-radius: 12;
    -fx-background-radius: 12;
}

.linear-grad{
	-fx-background-color: linear-gradient(to bottom left, #63bfb1, #9b63bf);
}


