<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="alex.knyazz.myapplication">

	<uses-permission android:name="android.permission.INTERNET" />

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme1"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"

		android:networkSecurityConfig="@xml/network_security_config"
		>

		<activity
		android:name=".authorisation_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="alex.knyazz.myapplication.frame_3_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="false"
			/>
		<activity android:name=".scenarious"/>
		<activity android:name=".scenarious_create1"/>
		<activity android:name=".scenarious_create2"/>
		<activity android:name=".edit_page" />
		<activity android:name=".edit_page_1" />
		<activity android:name=".registration" />
		<activity android:name=".ResetPasswordActivity" />
		<activity android:name=".personal_cab" />
		<activity android:name=".info_page" />

	</application>

</manifest>
	
	